{% extends 'base.html' %}
{% load static %}
{% block title %}
    Update Profile
{% endblock %}

{% block style %}
    *{
        margin: 0;
        padding: 0;
        font-family: "Century Gothic";
    }
    header{
        background-color: #d5f4e6;
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    li {float: left;}

    li a {
        display: block;
        color: white;
        font-size: 28px;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {background-color: #111;}
    .active {background-color: #4CAF50;}
    .name {
        font-weight: bold;
        font-style: italic;
    }
    .First_Block{
        position: absolute;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: 50%;
        left: 60%;
        height: 500px;
        width: 600px;
        color: black;
    }

    input[type=text], input[type=password], input[type=email] {
        width: 50%;
        padding: 12px 20px;
        margin: 2px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        width: 50%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
        border-radius: 35px;
    }
    button:hover {background-color: #555555;}
    .error {
        color: red;
    }
{% endblock %}

{% block navbar %}
    <ul>
        <li><a href="/" role="button">Home</a></li>
        <li><a class="name" href="{% url 'profile' %}">{{ infos.first_name }} {{ infos.last_name }}</a></li>
        <li><a class="active" href="/update_profile" role="button">Edit Profile</a></li>
        <li><a href="/user_list" role="button">User List</a></li>
        <li style="float:right;"><a style="color:red;" href="/logout" role="button">Logout</a></li>
    </ul>
{% endblock %}

{% block body %}
    <div class="First_Block">
    <form action="{% url 'update_profile' %}" method="post">
        {% csrf_token %}
        <input type="text" name="firstname" value="{{ FirstName }}" placeholder="First Name" required><p class="error">{{ FirstNameError }}</p>
        <input type="text" name="lastname" value="{{ LastName }}" placeholder="Last Name" required><p class="error">{{ LastNameError }}</p>

        <input type="email" name="email" value="{{ Email }}" placeholder="example@gmail.com" required>
        <input type="radio" name="email_visibility" value="True">
        <label>Yes</label>
        <input type="radio" name="email_visibility" value="False" checked>
        <label>No</label>

        <input type="text" name="phone_number" value="{{ Phone_Number }}" placeholder="Phone Number" required>
        <input type="radio" name="phone_number_visibility" value="True" checked>
        <label>Yes</label>
        <input type="radio" name="phone_number_visibility" value="False">
        <label>No</label><p class="error">{{ PhoneNumberError }}</p>


        <select name="gender">
            <option value="Male">Male</option>
            <option value="Female" selected>Female</option>
            <option value="Trans Gender">Trans Gender</option>
        </select>
        <input type="radio" name="gender_visibility" value="True">
        <label>Yes</label>
        <input type="radio" name="gender_visibility" value="False" checked>
        <label>No</label><br><br>

        <button type="submit">Submit</button>
    </form>
    </div>
{% endblock %}